---
import {geistSans, fontVariables} from "../lib/fonts";
---

<!DOCTYPE html>
<html lang="en" class={geistSans.className}>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>

  <!-- Preload critical fonts -->
  <link rel="preload" href="https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcS8ViWqR_3kxR_h9XmDkM5J5A.woff2" as="font" type="font/woff2" crossorigin>

  <!-- Add font-display: swap to the font import -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" media="print" onload="this.media='all'">

  <style is:global>
    {
      fontVariables
    }
  </style>
</head>
<body>
<slot/>
</body>
</html>
